<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webstore Project - M00850501</title>

    <!-- Using the CDN link for Vue, and linking to books.js-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
    <script src="js/courses.js"></script>

    <!-- Linking to my CSS -->
    <link rel="stylesheet" href="css/stylesheet.css">

    <!-- Linking to another stylesheet for checkout logo -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    
    <!-- Creating the div where Vue will mount -->
    <div id="app">
        <header class="topHeader">
            <div class="logo">
                <h1 v-text="sitename"></h1>
            </div>
            <button v-on:click="showCheckout" :class="['checkout', { 'disabled': cartIsEmpty }]" :disabled="cartIsEmpty">
                {{ cartItemCount }} <span class="fa-solid fa-cart-plus"></span> Checkout
            </button>
            
        
        </header>
        <div class="content">
            <!-- Sort Options Section (hidden during checkout) -->
            <aside class="sortOptions" v-if="!checkoutVisible">
                <h3 id="filterHeading">Sort:</h3> <br>
                <ul>
                    <li><input type="radio" name="sort" value="subject" v-model="sortBy"> Subject</li> <br>
                    <li><input type="radio" name="sort" value="location" v-model="sortBy"> Location</li> <br>
                    <li><input type="radio" name="sort" value="price" v-model="sortBy"> Price</li> <br>
                    <li><input type="radio" name="sort" value="availability" v-model="sortBy"> Availability</li> <br> <br>
                </ul>
                <h3 id="filterHeading">Order:</h3> <br>
                <ul>
                    <li><input type="radio" name="order" value="asc" v-model="sortOrder"> Ascending</li> <br>
                    <li><input type="radio" name="order" value="desc" v-model="sortOrder"> Descending</li> <br>
                </ul>
            </aside>
            
    
            <!-- Courses Section (hidden during checkout) -->
            <main class="coursesSection" v-if="!checkoutVisible">

                <!-- Div for search bar -->
                <div class="searchBar">
                    <input type="text" placeholder="Search for a course..." v-model="searchInput">
                    <button @click="executeSearch">Search</button>
                </div>

                <h2 v-text="subHeading" id="subHeadingItem"></h2> <br>

                <!-- Div to display the courses in a grid -->
                <div class="coursesGrid">
                    <div v-for="course in sortedCourses" :key="course.id" class="courseItem">
                        <div class="courseImage">
                            <img :src="course.courseImage" :alt="course.subject" />
                        </div>
                        <!-- Setting the display for each course's div-->
                        <div class="courseDetails">
                            <div>
                                <h3>{{ course.subject }}</h3>
                                <p><strong>Price:</strong> £{{ course.price }}</p>
                                <p><strong>Location:</strong> {{ course.location }}</p>
                                <p><strong>Spaces:</strong> {{ course.spaces }}</p>
                                <p><strong>Available Inventory:</strong>
                                    <span v-if="course.inventory > 0">
                                        {{ course.inventory }} 
                                        <span v-if="course.inventory < 5" style="color: orange;">(Low Stock!)</span>
                                    </span>
                                    <span v-else style="color: red;">Out of stock!</span>
                                </p>
                            </div>
                            <button 
                                v-on:click="addToCart(course)" 
                                :disabled="course.inventory === 0"
                                :class="{ 'out-of-stock': course.inventory === 0 }">
                                Add to cart
                            </button>
                        </div>
                    </div>
                </div>
            </main>
    
            <!-- Checkout Form (visible during checkout) -->
            <div v-if="checkoutVisible" class="checkoutForm">
                <h2>Checkout Form</h2>

                <p><strong>First Name: </strong><input v-model.trim="order.firstName"/></p>
                <p><strong>Last Name: </strong><input v-model.trim="order.lastName"/></p>
                <p><strong>Email: </strong><input v-model.trim="order.email"/></p>
                <p><strong>Address: </strong><input v-model="order.address"/></p>
    
                <p><strong>Zip / Postal Code:</strong><input v-model.number="order.zip" type="number"/></p>
    
                <p><input type="checkbox" id="gift" value="true" v-model="order.gift"><label for="gift">Ship as gift?</label></p>
    
                <p><input type="radio" id="home" value="Home" v-model="order.method">
                <label for="home">Home</label></p>
    
                <p><input type="radio" id="business" value="Business" v-model="order.method">
                <label for="business">Business</label></p>
    
                <button v-on:click="submitForm($event)">Place Order</button>
                <p v-if="checkoutFeedback" :style="{ color: checkoutFeedback.type === 'success' ? 'green' : 'red' }" style="text-align: center;">
                    {{ checkoutFeedback.message }}
                </p>
                

            </div>
        </div>

        <!-- Footer section -->
        <footer class="footer">
            <p>Contact Information: Nathaniel Fernandes - M00850501</p>
        </footer>
     </div>

     <script type="text/javascript">
        var bookstore = new Vue({
            el: '#app',
            data: {
                sitename: "Nateson's High School",
                subHeading: "Order your tuition courses here!",
                courses: courses,
                searchInput: '',
                sortBy: '',
                sortOrder: 'asc',
                cart: [],
                checkoutVisible: false,
                order: {
                    firstName: '',
                    lastName: '',
                    email: '',
                    address: '',
                    zip: null,
                    gift: false,
                    method: 'Home'
                },
                checkoutFeedback: false,
            },
            methods: {
                //Function to handle adding each course to cart 
                addToCart(course) {
                    if (course.inventory > 0) {
                        this.cart.push(course);
                        course.inventory--;
                    }
                },
                // Toggle between checkout and home view
                showCheckout() {
                    if (this.cart.length > 0 || this.checkoutVisible) {
                        this.checkoutVisible = !this.checkoutVisible;
                    }
                },
                //Function to handle submission of form
                submitForm() {
                    event.preventDefault();
                    // Check if any of the required fields are empty
                    if (!this.order.firstName || !this.order.lastName || !this.order.email || !this.order.address || !this.order.zip) {
                            // Show error message if any field is empty
                            this.checkoutFeedback = { message: "All fields must be filled in!", type: "error" };
                        } else {
                        // Hide error message if all fields are filled
                        this.checkoutFeedback = { message: "Order placed successfully! Redirecting back to home page...", type: "success" };

                        setTimeout(() => {
                            this.checkoutFeedback = false;
                            this.checkoutVisible = false;
                            this.cart = [];
                            // Reset order form
                            this.order = {
                            firstName: '',
                            lastName: '',
                            email: '',
                            address: '',
                            zip: null,
                            gift: false,
                            method: 'Home',
                        };
                        }, 2000);
                    }
                },
                executeSearch() {
                    alert("Searched item: " + this.searchInput);
                }
            },
            computed: {
                //To return the total items in cart
                cartItemCount() {
                    return this.cart.length;
                },
                //Checking if the cart has any items at all
                cartIsEmpty() {
                    return this.cart.length === 0;
                },
                sortedCourses() {
                    const sortedCourses = [...this.courses]; // Copy courses array to avoid mutating original data
                    
                    if (this.sortBy) {
                        sortedCourses.sort((a, b) => {
                            if (this.sortBy === 'price' || this.sortBy === 'availability') {
                                // Numeric sorting
                                return this.sortOrder === 'asc' ? a[this.sortBy] - b[this.sortBy] : b[this.sortBy] - a[this.sortBy];
                            } else {
                                // String sorting
                                if (a[this.sortBy] < b[this.sortBy]) return this.sortOrder === 'asc' ? -1 : 1;
                                if (a[this.sortBy] > b[this.sortBy]) return this.sortOrder === 'asc' ? 1 : -1;
                                return 0;
                            }
                        });
                    }

                    return sortedCourses;
                }
            }
        });
    </script>
    
</body>
</html>
